* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

//font colors
$color-main-blue: #4469FF;
$color-title:#34327B;
$color-text-lt: #EFF3FC;
$color-white: #ffffff;
$color-p:#8689A8;

//sizing
$size_100: 100%;
$size_50: 50%;
$vh: calc(100vh - 54px);

//fonts
$font_1: 'Poppins', sans-serif;

//urls
$url_1: url('../images/svg/bg-top-rt.svg');
$url_2: url('../images/svg/bg-top-lt.svg');
$url_3: url('../images/svg/bg-footer-lt.svg');

//@extend-elements
.flex {
    width:1140px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.ill {  
    width:500px;
    height:auto;
}

.li-icons {
    background-position: 0 center;
    background-size: 40px auto;
    background-repeat: no-repeat;
    height:50px;
    width:40px;
    margin-right:16px;
    display: inline-block;
}

//@extend-elements
//original selectors
//h1, h2, h3, h4, h5
// %extend_1 {
// 	font-family: $font_3;
// 	margin: 0;
// 	padding: 0;
// 	color: $color_light_grey;
// 	display:block;
// 	letter-spacing:-.05rem;
// }

// //original selectors
// //em, a, ul, p, strong
// %extend_2 {
// 	font-family: $font_2, $font_1;
// 	margin: 0;
// 	padding: 0;
// 	color: $color_text;
// 	line-height: 1.4em;
// }

section {
    max-width:1140px;
    margin:0 auto;
}

.button {
    background-color: $color_main_blue ;
    padding: .8rem;
    text-align: center;
    min-width: 188px;
    border-radius: 8px;
    color: $color-text-lt;
    text-transform: uppercase;
    border:none;
    margin-right: 1rem;
    display:inline-block;


    &.second {
        background:$color-white;
        border: 1px solid $color-main-blue;
        color: $color-main-blue;
    }
}

.phone {
    color:$color-main-blue;
    &:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-phone.svg");
        background-size: 24px 24px;
        height: 24px;
        width: 24px;
        margin-bottom: -5px;
        margin-right: 8px;
    }
}