

//font colors
$color-main-blue: #1293D4;
$color-btn-on: #1F448F;
$color-on: #2280af;
$color-title:#2a2a33;
$color-text-lt: #EFF3FC;
$color-white: #ffffff;
$color-p:#747272;
$color-aqua: #88C6E8;
$color-lt-blue: #eaf5fb;
$color-small: #1293D4;
$color-step: #93d8fb;
$color-hero: #1F448F;
$color-p-hero: #C8D6F2;
$color-error: #de9d65;
$color-shadow: #e0e0e0;
$color-footer: #B4B4B4;

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }
  :root {
    font-size: 16px;
    }

//sizing
$size_100: 100%;
$size_50: 50%;
$vh: calc(100vh - 54px);

//fonts
$font_1: 'Poppins', sans-serif;

//shadow
$shadow: 0 0 74px $color-shadow;

//@extend-elements
.flex {
    width:1140px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.ill {  
    width:50%;
    height:auto;
}

nav a {
    text-transform: uppercase;
}

.grid-4 {
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
    grid-gap:2rem;
}

.grid-6 {
    width:100%;
    display:grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .4rem;
}

.logo {
    width: 100px;
    height:auto;
}
.li-icons {
    background-position: 0 8px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    height:36px;
    width:40px;
    margin-right:6px;
    display: inline-block;
}
.inner {
    max-width: 1140px;
    margin:0 auto;
}
    .title {
        text-align:center;
        width:70%;
        margin:0 auto;
    }
section {
    max-width:1140px;
    margin:0 auto 3rem;
    padding: 0 14px;
}

.button {
    background-color: $color-main-blue ;
    padding: .6rem;
    text-align: center;
    min-width: 188px;
    border-radius: 8px;
    color: $color-text-lt;
    border:none;
    display:inline-block;
    text-transform: uppercase;
    transition: .5s ease;
    border:1px solid $color-main-blue;

        &:hover {
            color:$color-white;
            text-decoration:none;
            background-color: $color-btn-on;
        }

    &.second {
        background:$color-hero;
        border: 1px solid $color-main-blue;
        &:hover {
            background-color: $color-main-blue ;
        }
    }
}
input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity:1;
    font-size:16px;
    cursor:pointer;
    }

    input[type=checkbox] {
        height: 10px;
        width: auto;
    }

.phone, .mail {
    color:$color-aqua;
    display: inline-block;
    margin:0 12px;
    padding: 20px;
    border:1px solid #708eca;
    background: rgba(3, 29, 90, 0.30);
    i {
        padding-right:8px;
    }


}
.email {
    a {
    color:$color-aqua;
    display: inline-block;
    }
}

.lt-round {
    border-radius: 24px 0 0 0;

}
.rt-round {
    border-radius: 0 24px 0 0;
}
.bt-rt-round {
    border-radius: 0 0 24px 0;
}

//Jumbotron
.jumbo-home-bg {
    background: 
    linear-gradient(
        rgba(38, 81, 155, 0.85), 
        rgba(31, 68, 133, 0.85)
      ),
    url(../images/bg-promo.jpg);
}
.jumbo-about-img {
    background: 
    linear-gradient(
        rgba(38, 81, 155, 0.85), 
        rgba(31, 68, 133, 0.85)
      ),
    url(../images/bg-promo-about.jpg);
}
.card-container {
    display: flex;
    justify-content: space-between;
    width:100%;
    margin: 4.8rem 0;

}
.card {
    display:block;
    width:auto;
    padding:24px;
    margin:0 .6rem 1.2rem;;
    border:none;
    box-shadow: $shadow;
    border-radius:.6rem;
    transition: .5s ease;
    &:hover {
        background: $color-hero;
        h3, h4, p {
            color: #fff;
            text-decoration: none;
        }
    }
    h3 {
        font-size: 1.4rem;
        padding: 18px 0;
    }
    p {
        font-size:14px;
    }
    strong {
        display:block;
        padding: .6rem 0;
    }
}
