* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }

//font colors
$color-main-blue: #1293D4;
$color-title:#34327B;
$color-text-lt: #EFF3FC;
$color-white: #ffffff;
$color-p:#a1a1a1;
$color-aqua: #88C6E8;
$color-small: #1293D4;
$color-hero: #1F448F;

//sizing
$size_100: 100%;
$size_50: 50%;
$vh: calc(100vh - 54px);

//fonts
$font_1: 'Poppins', sans-serif;

//@extend-elements
.flex {
    width:1140px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.ill {  
    width:500px;
    height:auto;
}
.logo {
    width: 160px;
    height:auto;
    margin-top:1.2rem;
}
.li-icons {
    background-position: 0 8px;
    background-size: 30px auto;
    background-repeat: no-repeat;
    height:36px;
    width:40px;
    margin-right:6px;
    display: inline-block;
}
.inner {
    max-width: 1140px;
    margin:0 auto;
}
    .services {
        text-align:center;
        width:70%;
        margin:0 auto;

    h3 {
        padding:18px;
        line-height: 3rem;
    }
    }
section {
    max-width:1140px;
    margin:0 auto;
}

.button {
    background-color: $color_main_blue ;
    padding: .8rem;
    text-align: center;
    min-width: 188px;
    border-radius: 8px;
    color: $color-text-lt;
    text-transform: uppercase;
    border:none;
    margin-right: 1rem;
    display:inline-block;


    &.second {
        background:$color-hero;
        border: 1px solid $color-main-blue;
    }
}

.phone {
    color:$color-aqua;
    display: inline-block;
    margin:0 12px;
    padding: 20px;
    border:1px solid #3761b5;
    i {
        padding-right:8px;
    }


}
.email {
    display: inline-block;
    margin:0 12px;
    padding: 20px;
    border:1px solid #3761b5;
    i {
        padding-right:8px;
    }

    a {
    color:$color-aqua;
    display: inline-block;
    }
}