//Media Queries

@media screen and (max-width: 1200px) {
    section {
        padding:0 2rem;
    }
    #hero {
    article {
        .button {
            display:block;
            margin:0 0 2rem;
        }
    }
}
}

@media screen and (max-width: 982px) {
    #content {
        #hero {
        margin:0;
            .container {
                width:100%;
            article {
                width:100%;
                margin:0;
            }
    
        }
        aside {
            width:100%;
            margin:0 0 18px;
        }
        .img-clean-1 {
            width:100%;
            border-radius:0;
        }
    }
}
}


@media screen and (max-width: 800px) {

//Typography
    h1 {
        font-size: 2rem;
        line-height:2.4rem;
    }
    h2 {
        font-size:1.8rem;
    }
    h3 {
        font-size:1.6rem;
        line-height: 2rem;
    }
    p {
        font-size:1rem;
        line-height: 1.4rem;
    }
    .button {
        width:100%;
        margin: 0 0 1rem;
        border:none;
    }


    //Hide for mobile
    // .btns, header nav {
    //     display: none;
    // }

//Global elements

        .card {
            width:auto;
            text-align: center;
            display:block;
        }
        img {
            height:auto;
            width:100%;
        }

#content {
    width:100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 240px auto;
    position: relative;
    padding:0;
    #head {
        margin:0;
    }
    .logo {
        width:auto;
        height:50px
    }

    .title {
        display: block;
        width:100%;
        padding:0 2rem;
        margin:0;
        text-align:center;
        h3 {
            display: block;

        }
    }
    .container {
        flex-direction: column-reverse;
        margin:0;
        .title {
            .step {
                display: block;
                big {
                    margin:1rem;
                    display: inline-block;
                }
            }
        }
    }
      
      .main-nav {
        list-style-type: none;
        display: none;
        background: rgba(31, 68, 133, 0.95);
        padding:3rem 2rem;
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
      }
      .navbar {
          position:inherit;
          min-height:auto;
          .dropdown-menu {
              display:block;
              position:relative;
              background: none;
              box-shadow:none;
              float:none;
              .dropdown-item {
                  border:none;
                  padding: 1rem 0 0;
                  font-size:16px;
              }
          }
      }
      .nav-links {
        text-decoration: none;
      }
      
      .main-nav li {
        text-align: center;
        display:block;
        a {
            padding:0;
            font-size:18px;
        }
      }
      
      .logo {
        font-size: 22px;
        margin-top: 10px;
        padding:0;
      }
      
      .navbar-toggle {
        position: absolute;
        top: 25px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        z-index: 2;
        display:block;
        margin:0;
        padding:0;
      }
      
      .active {
        display: block;
      }

header {
    display:block;
    max-width:100%;
    padding:0 2rem;
    margin:0;
        .links {
        display:none;
        }
        .phone {
            position: absolute;
            top: 41px;
            right: 1.2rem;
            margin: 0;
            font-size:.8rem;
            &:before {
                margin-bottom: -6px;
            }
        }
    }
    section {
        width:100%;
        padding:0;
        margin: 2rem 0;
        article {
            width:100%;
            margin:2rem 0;
            padding:0 1rem;
            display:block;
            text-align: center;
            .service {
               text-align: center;
                margin: 0 0 24px;
                padding: 14px;
                h3 {
                    font-size: 1.2rem;
                    padding: 8px 0;
                }
            }
        }
    }
    aside {
        width:100%;
        padding:0;
        margin:0;

        img {
            width:100%;
            margin:2rem 0;
            border-radius:0;
        }
    }    

  
    #about {
        article {
            p.points {
                font-size: 1rem;
                }
            }
        }
        .card-container {
            flex-direction: column;            
            margin:2rem 0 0;
            .card {
                width:auto;
            }
            .icons {
                width:100%;
                margin: 4rem 0;
                text-align: center;
            }
        }
   

    #jumbotron {
        h4 {
            font-size:1.2rem;
        }
        padding:12px;
        margin:0;
        i {
            vertical-align: middle;
            padding: 4px;
        }
        .phone, .mail {
            width:100%;
            margin: 0 0 12px;
        }
    }

  }

#portfolio {

    .gallery {
        display:block;
        .column {
            columns: 100px 2;
            padding: 0;
            max-width:100%;
        }
    }
    
}


.services {
    padding:0 2rem;
    column-count: 1;
    margin:3rem 0;
    li {
        font-size:18px;
    }
}

//EMail signup
#jumbotron.email {
   #mc_embed_signup {
    width:auto;
   .mc-field-group { 
   .email {
    width:100%;
    border-radius:14px;
    margin:0 0 18px;
   }
   input[type=submit] {
    border-radius:14px;
    width:100%;
    padding:.8rem;
    margin-bottom: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity:1;
      }
     }


    }
}

#contact {
    .container {
        .contact-info {
            width:100%;
            margin:2rem 0 0;
            padding:0;
            p {
                text-align:left;
            }
        }
        width:100%;
        margin:0;
        display: block;
    }
   .mc-field-group {
       text-align: left;
       ul {
           display: flex;
           li {
               width:50%;
           }
       }
       input[type=text], input[type=email] {
           width:100%;
       }
   }

}
    nav {
        display:block;
        padding-bottom: 10px;
        .button {
        background:none;
        padding:0;
        min-width:auto;
        color: $color-aqua;
        a {
            padding:0;
        }
        }
    }
  footer {
      .button {
          text-align:center;
          padding:inherit
      }
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 200px auto;
        position: relative;
        bottom:0;
        width:100%;
        margin:0;
        .inner {
            .rt {
                display: block;
            }
            width:100%;
            display:block;
            text-align: center;
            padding:0;
            .branding {
                padding: 1rem .6rem;;
            }
            div {
                flex-direction: column;
                margin: 20px 0;
                padding: 1rem 0;
                 a {
                     padding: .2rem 0;
                     display:block;
                     margin:0;
                 }
                 .phone, .email {
                     margin:14px;
                     padding:14px;
                 }
            }

        }
    }
}


