//Media Queries


@media screen and (max-width: 800px) {

//Typography
    h1 {
        font-size: 1.8rem;
        line-height:2.4rem;
    }
    h3 {
        font-size:1.2rem;
        line-height: 2rem;
    }
    p {
        font-size:1rem;
        line-height: 1.4rem;
    }
    .button {
        width:100%;
        margin: 0 0 1rem;
    }

    ul {
        li {
            line-height: 1.4rem;
        }
    }

    //Hide for mobile
    // .btns, header nav {
    //     display: none;
    // }

//Global elements
        .logo {
            width:100px;
        
        }

#content {
    width:100%;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 240px auto;
    position: relative;
    #head {
        margin:0;
    }

    .title {
        display: block;
        width:100%;
        h3 {
            display: block;

        }
    }
    .container {
        flex-direction: column-reverse;
    }

    nav {
        display:block;
        padding-bottom: 10px;
        .button {
          background:none;
          padding:0;
          min-width:auto;
          text-align: left;
          color: $color-aqua;
        }
      }
      
      .main-nav {
        list-style-type: none;
        display: none;
        background: rgba(31, 68, 133, 0.95);
        padding:14px;
        position: absolute;
        top:104px;
        left:0;
        width:100%;
      }
    
      
      .nav-links {
        text-decoration: none;
      }
      
      .main-nav li {
        text-align: center;
      }
      
      .logo {
        font-size: 22px;
        margin-top: 10px;
      }
      
      .navbar-toggle {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        font-size: 24px;
        z-index: 2;
        display:block;
      }
      
      .active {
        display: block;
      }

    .card {
        width:auto;
        padding: 24px 0;
        text-align: center;
        h3 {
            font-size: 28px;
            line-height: 2.4rem;
        }
    }
    aside {
        img {
            width:auto;
            border-radius: 12px;
        }
    }
header {
    display:block;
    max-width:100%;
    padding:0 1rem;
    text-align: center;

        .links {
        display:none;
        }
        .phone {
            position: absolute;
            top: 41px;
            right: 1.2rem;
            margin: 0;
            font-size:.8rem;
            &:before {
                margin-bottom: -6px;
            }
        }
    }
    section {
        width:100%;
        padding:0;
        margin: 40px 0 0;
        article {
            width:100%;
            margin:40px 0;
            padding:0 1rem;
            display:block;
            text-align: center;
            .service {
               text-align: center;
                margin: 0 0 24px;
                padding: 14px;
                h3 {
                    font-size: 1.2rem;
                    padding: 8px 0;
                }
            }
        }
    }
    aside {
        width:100%;
        padding:0 1rem;
        margin:0;

        img {
            width:100%;
        }
    }    
    #hero {
    margin:0;
        .top .container {
        display: block;
        article {
            width:100%;
            margin:0;
        }
        aside {
            width:100%;
            margin:18px 0;
        }
    }
}
  
    #about {
        article {
            p.points {
                font-size: 1rem;
                }
            }
        }
        .card-container {
            display:block;
            padding: 0 1rem;
            margin:0;
            .icons {
                width:100%;
                margin: 4rem 0;
                text-align: center;
            }
        }
   

    #jumbotron {
        padding:12px;
        margin:0;
        i {
            vertical-align: middle;
            padding: 4px;
        }
        .phone, .email {
            width:80%;
            margin: 0 0 12px;
        }
    }

  }
  #gallery {
      article {
          column-count: 1;
        .text {
            border-radius:14px 14px 0 0;
        }  
      }


}

//EMail signup
#jumbotron.email {
   #mc_embed_signup {
    width:auto;
   .mc-field-group { 
   .email {
    width:100%;
    border-radius:14px;
    margin:0 0 18px;
   }
   input[type=submit] {
    border-radius:14px;
    width:100%;
    padding:.8rem;
    margin-bottom: 10px;
      }
     }


    }
}




  footer {
        background-position: bottom left;
        background-repeat: no-repeat;
        background-size: 200px auto;
        position: relative;
        bottom:0;
        width:100%;
        margin:0;
        .inner {
            width:100%;
            display:block;
            text-align: center;
            nav {
                flex-direction: column;
                margin: 40px 0;
                 a {
                     padding: 0 0 24px;
                     color:white;
                     display:block;
                     margin:0;
                 }
                 .phone, .email {
                     margin:14px;
                     padding:14px;
                 }
            }

        }
    }
}


