
  //Nav elements

  

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  align-self: center;
  padding:0;
  a {
      color: $color-aqua;
      margin:0;
      font-weight:400;
      text-transform: uppercase;
      padding:0 3.2rem 0 0;
      &:hover {
        color:$color-white;
        text-decoration: none;
      }
      &.active {
          color:$color-white;
          font-weight: 500;
      }
  }

}
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left:0;
    }
  
    .navbar-toggle {
      display: none;
    }
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
  
  