
  //Nav elements

  

nav {
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  align-self: center;
  padding:0;
  a {
      color: $color-aqua;
      margin:0;
      font-weight:400;
      text-transform: uppercase;
      padding:0 3.2rem 0 0;
      line-height: 1.2rem;;
      &:hover {
        color:$color-white;
        text-decoration: none;
      }
      &.active {
          color:$color-white;
          font-weight: 500;
      }
      &:focus {
        color:$color-white;
        text-decoration: none;
      }
  }

}
.navbar {
  padding:0;
  margin:0;
  border:none;
  a:hover {
      color:$color-white;
      text-decoration: none;
  }

    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left:0;
    }
  
    .navbar-toggle {
      display: none;
    }

    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
    }
    .dropdown-menu {
      min-width:220px;
      background: #022773;
      padding:0;
    }
    .dropdown-item {
      border-bottom:1px solid #5c677c;
      display: block;
      padding:.6rem .6rem;
      font-size:14px;
    }
  }
  