/* Main sectim css */


body {
    font-family: $font_1;
}

header {
    max-width:1140px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
    .logo {
        width: 200px;
        height:auto;
        margin-top:.8rem;
    }

    nav {
        align-items: flex-end;
        margin: 3.4rem 0 0;
        a {
            color:black;
            margin: 0 3.4rem 0 0;
            font-weight:400;
            &.selected {
                color:$color-main-blue;
                font-weight: 500;
            }
        }
        
    }
}

// List icons 

ul {

    li.expert:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-expert.svg");
    }
    li.price:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-price.svg");
    }
    li.results:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-results.svg");
    }
    li.environment:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-environment.svg");
    }
    li.safety:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-masks.svg");
    }
    li.disinfect:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-disinfect.svg");
    }
 
    li.expert:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-expert.svg");
    }
    li.price:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-price.svg");
    }
    li.results:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-results.svg");
    }
    li.environment:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-environment.svg");
    }
    li.safety:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-masks.svg");
    }
    li.disinfect:before {
        @extend .li-icons;
        content: '';
        background-image: url("../images/svg/ico-disinfect.svg");
    }
 }

#content {

    background-image: $url_1, $url_2;
    background-position: top right, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: 854px 868px, 277px 538px;
    position: relative;
    padding-bottom:100px;
    background-image: $url_2;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 277px 538px;

}

#hero {
 @extend .flex;
    article {
        width:500px;
        margin-top:140px;
        .btns {
            padding:2rem 0 0;
        }
        }
        aside {
          @extend .ill;
            margin:100px 0 0;
            img {
                width:100%;
                height:auto;
            }
        }
}

#about {
    article {
        margin:200px auto 0;
        width: 800px;
        text-align: center;
        .services {
            text-align: center;
            h3 {
                padding:0 0 2rem;
                font-weight:400;
                .fa-star {
                    color:$color-main-blue;
                    font-size:1rem;
                    padding:12px;
                }
            }
        }
        p.points {
            font-size: 24px;
            font-weight: 400;
            display: inline;
            &:before {
                font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f00c";
                padding:12px;
                color:$color-main-blue;
            }
        }


    }
    .icon-container {
        display: flex;
        justify-content: space-between;
        width:100%;
        margin: 140px 0 0;
        .icons {
            width:268px;
            text-align: center;
            img {
                width: 120px;
                height:auto;
            }
            h3 {
                font-size: 24px;
                padding: 14px;
            }
            p {
                font-size:16px;
            }
        }
    }
}

#services {
    @extend .flex;
    margin-top:140px;
    aside {
        @extend .ill;
        img {
            width:100%;
            height:auto;
        }
    }

    article {
        width:500px;
    }
 
}   

#products {
    @extend .flex;
    margin-top:100px;
    aside {
        @extend .ill;
        img {
            width:100%;
            height:auto;
        }
    }

    article {
        width:500px;
    }
}

footer {
    background-image:$url_3;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 784px 585px;
    position: relative;
    bottom:0;
    width:100%;
    height:580px;

    .inner {
        width:1140px;
        margin: 0 auto;
        position: absolute;
        bottom:0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        nav {
            margin-bottom: 125px;
            display:flex;
            justify-content: space-between;
            align-items: center;
        }

    }
}


