/* Main sectim css */


body {
    font-family: $font_1;
}

header {
    max-width:1140px;
    display: flex;
    justify-content: space-between;
    margin:0 auto 24px;
    padding:1.4rem 0;
}

section {
    article {
        margin:3rem 0;
        &.grid-4 {
            width:100%;
            display:grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 1fr);
            grid-gap:0;
        
        .service {
            h4 {
                // font-size: 1.4rem;;
                // padding:1rem 0 2rem;
                // font-weight:400;
                img {
                    height:30px;
                    vertical-align: middle;
                    margin-right:8px;
                }
                .fa-star {
                    color:$color-main-blue;
                    font-size:1rem;
                    padding:12px;
                }
            }
        }
    }
    }
}

#content {
    position: relative;
}

#hero {
    h1 {
        color:white;
    }
    background: linear-gradient(162deg, #1d7fb4e8 0%, #1f448f 40%, #1f448f 100%), url(../images/bg-hero.png);
    max-width:100%;
    .top { max-width:1140px;
        margin:0 auto;
        p {
            color: $color-p-hero;
        }
    }
}

.container {
    margin:3rem 0 0;
    display: flex;
    justify-content: space-between;
    &.rev {
        flex-direction: row-reverse;
        .title {
            padding-left:40px;
        }
    }
    .title {
        text-align: left;
        width:50%;
        padding-right:40px;
    }
    article {
    width:500px;
    .btns {
        padding:2.4rem 0 0;
    }
    }
    aside {
    @extend .ill;
        margin:0;
        img {
            width:100%;
            height:auto;
        }
    }
}


#head {
    background: linear-gradient(162deg, #1d7fb4e8 0%, #1f448f 40%, #1f448f 100%), url(../images/bg-hero.png);
    max-width:100%;
}

#intro {
    article {
        .service {
            padding:14px;
        }
    }
}

//JUmbotron
#jumbotron {
  @extend .jumbo-home-bg;
    max-width:100%;
    padding:30px 0;
    .inner {
        max-width: 1140px;
        margin:0 auto;
        text-align:center;
        h3 {
            color:white;
            i {
                color:$color-aqua;
                vertical-align: top;
                font-size: 16px;
                padding:12px;
            }
        }
    }
}


    #faq {
    .card:before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f10d";
        font-size: 2.8rem;
        color: #cdeffd;
    }
    strong {
        display: block;
        padding:20px 0
    }
}

#services {
    @extend .flex;
    margin-top:140px;
    aside {
        @extend .ill;
        img {
            width:100%;
            height:auto;
        }
    }

    article {
        width:500px;
    }
}
#gallery {
    img {
        width:100%;
    }
    .text {
        margin:0 0 .4rem;
        h3 {
            color:white;
            padding: 0 0 24px;
        }
        p {
            color: $color-p-hero;
        }
        background: $color-hero;
        padding: 24px;
    }
      article {
        column-count: 2;
      }
      .grid-item {
          float:left;
      }
}

#products {
    @extend .flex;
    margin-top:100px;
    aside {
        @extend .ill;
        img {
            width:100%;
            height:auto;
        }
    }

    article {
        width:500px;
    }
}

//Email signup
#jumbotron.email{
    position:relative;
    h3 {
        padding:0;
    }
    p {
        padding:0 0 18px;
        color:$color-p-hero;
        font-size:14px;
        i {
            color: $color-main-blue;
        }
    }


#mc_embed_signup div.mce_inline_error {
    flex-basis: 100%;
    background: none;
    font-weight: 100;
    font-size:14px;
    margin: 0;
    padding: 14px;
    position:absolute;
    bottom: 0;
    color: $color-error;

}
#mc_embed_signup {
    width:570px;
    margin:0 auto 14px;
    .mc-field-group {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        input[type=submit] {
            border-radius: 0 10px 10px 0;
            min-width:auto;
            width:auto;
            padding: 0 2rem;
            cursor:pointer;
            background: $color-main-blue;
            border:none;
        }
        input[type=submit]:hover {
            background: $color-on;
        }
        label {
            display:block;
            padding: .8rem 0;
        }

    }

}
}



#mc_embed_signup .mc-field-group input {
    width:320px;
    margin:0;
    background: white;
    border: 1px solid $color-p;
    padding:.8rem;
    border-radius: 10px 0 0 10px;
}

// Contact Us

#contact {
    input[type=checkbox] {
        width:auto;
    }
    .container {
        width:70%;
        margin:2rem auto 0;
        .fas{
            color:$color-main-blue;
            padding:0 1rem 0 0
        }
        .contact-info {
            width:50%;
        }
        p {
            padding:14px 0 0;
        }
}
.mc-field-group {
    margin: 0 0 1rem;
    position:relative;
    &.input-group {
        margin: 1rem 0;
    }
    ul {
        margin:0 0 2rem 0;
    }
    strong {
        padding: 1rem 0;
        display: block;
    }
    input {
        border-radius:.4rem;
    }
    label {
        display: block;
        padding: .8rem 0;
    }
    li label {
        display: inline-block;
        padding:0;
    }
    li input {
        padding:0;
        margin: 0 .6rem 0 0;
    }
}
#mc_embed_signup div.mce_inline_error {
    color: red;
    font-size: .875rem;
    top: 10px;
    position: absolute;
    left: 150px;
    background:none;
    font-weight: 200;
}
 p.response {
     padding:0 0 2rem;
 }
}


footer {
    background-color: $color-hero;
    position: relative;
    bottom:0;
    width:100%;
    margin-top:100px;
    .inner {
        max-width:1140px;
        margin: 0 auto;
        display:flex;
        padding: 20px 0 0;
        justify-content:space-between;
        flex-wrap:wrap;
        .logo {
            padding:20px 0
        }
    }
    .address {
        width:100%;
        padding: 14px 0 12px;
        border-top: 1px solid #3761b5;
        margin-top: 32px;
        .inner {
            padding:0;
        }
        p {
            font-size:.8rem;
        }
        a {
            color:#B4B4B4;
        }
    }
}


