/* Main sectim css */


body {
    font-family: $font_1;
}

header {
    max-width:1140px;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

nav {
    align-items: flex-end;
    margin: 3.4rem 0 0;
    a {
        color: $color-aqua;
        margin: 0 3.4rem 0 0;
        font-weight:400;
        &.active {
            color:$color-white;
            font-weight: 500;
        }
    }

}

section {
    article {
        margin:4rem 0;
        &.grid-4 {
            width:100%;
            display:grid;
            grid-template-columns: repeat(2, 50%);
            grid-template-rows: repeat(2, 1fr);
            grid-gap:4rem;
        
        .service {
            h3 {
                font-size: 1.4rem;;
                padding:1rem 0 2rem;
                font-weight:400;
                img {
                    height:30px;
                    vertical-align: middle;
                    margin-right:8px;
                }
                .fa-star {
                    color:$color-main-blue;
                    font-size:1rem;
                    padding:12px;
                }
            }
        }
    }
    }
}

#content {
    position: relative;
}

#hero {
    background: linear-gradient(162deg, #1d80b4d4 0%, #1f448f 40%, #1f448f 100%), url(../images/bg-hero.png);
    max-width:100%;
    .top { max-width:1140px;
        margin:0 auto;
        .container {
            display: flex;
            justify-content: space-between;
    article {
        width:500px;
        margin-top:87px;
        .btns {
            padding:2.4rem 0 0;
        }
        }
        aside {
          @extend .ill;
            margin:100px 0 0;
            img {
                width:100%;
                height:auto;
            }
        }
        }
    }
}

#intro {
    article {
        margin:50px auto;
    }
}

#about {

    .icon-container {
        display: flex;
        justify-content: space-between;
        width:100%;
        margin: 80px 0 0;
        .icons {
            width:268px;
            padding:0 18px 0 0;
            img {
                width: 100px;
                height:auto;
                margin-bottom:12px;
            }
            h3 {
                font-size: 20px;
                padding: 18px 0;
            }
            p {
                font-size:16px;
            }
        }
    }
}

#billboard {
    background: $color-hero;
    max-width:100%;
    padding:30px 0;
    .inner {
        max-width: 1140px;
        margin:0 auto;
        text-align:center;
        h3 {
            color:white;
            padding:16px;
            i {
                color:$color-aqua;
                vertical-align: top;
                font-size: 16px;
                padding:12px;
            }
        }
        p {
                font-weight:400;
        }
    }
}

#services {
    @extend .flex;
    margin-top:140px;
    aside {
        @extend .ill;
        img {
            width:100%;
            height:auto;
        }
    }

    article {
        width:500px;
    }
 
}   

#products {
    @extend .flex;
    margin-top:100px;
    aside {
        @extend .ill;
        img {
            width:100%;
            height:auto;
        }
    }

    article {
        width:500px;
    }
}

footer {
    background-color: $color-hero;
    position: relative;
    bottom:0;
    width:100%;
    margin-top:100px;
    .inner {
        width:1140px;
        margin: 0 auto;
        display:flex;
        padding: 20px 0 0;
        justify-content:space-between;
        flex-wrap:wrap;
    }
    .address {
        width:100%;
        padding: 14px 0 12px;
        border-top: 1px solid #3761b5;
        margin-top: 32px;
        .inner {
            padding:0;
        }
        p {
            font-size:.8rem;
        }
        a {
            color:#B4B4B4;
        }
    }
}


