// All fonts

small {
    display: block;
    color:$color-small;
    font-size: 1rem;
    font-weight:500;
    padding:0 0 .4rem;
    text-transform: uppercase;
}

.asterisk {
    color:red;
    font-size:.875rem
}
strong {
    color: $color-title;
    font-size: 1rem;
}

p {
    padding:0;
    margin:0;
    line-height: 1.8rem;
    font-size: 16px;
    font-weight: 300;
    color: $color-p;
}

ul {
    li {
        padding:0;
        margin:0;
        line-height: 2.4rem;
        font-size: 16px;
        font-weight: 100;
        color: $color-p;
        list-style-type: none;
        padding:0.6rem 0;
        align-items: center;
    }
}
a {
    text-decoration: none;
    font-size: 16px;
    color:$color-aqua;
    line-height: 1.8rem;
    &:hover {
        text-decoration: none;

    }
}
    h1, h2, h3, h4 {
         font-weight:100}
h1 {
    font-size:2.4rem;
    line-height: 3rem;
    padding:0 0 2rem;
    font-weight:300;
    span {
        color: $color-aqua;
    }
}
    h2 {
        color: $color-title;
        padding:0 0 2rem;
        line-height: 2.4rem;
        font-size: 2rem;
        font-weight: 300;
}
    h3, h3 a {
        font-size:2rem;
        color: $color-title;
        padding:0 0 1.2rem;
        line-height: 2.6rem ;
        font-weight: 300;

}
    h4 {
        font-size:1.5rem;
        color: $color-title;
        padding:0 0 1.2rem;
        line-height: 2.5rem ;
        font-weight: 300;
        display: block;
    }
