// All fonts


p {
    padding:0;
    margin:0;
    line-height: 1.8rem;
    font-size: 18px;
    font-weight: 100;
    color: $color-p;
}
a {
    text-decoration: none;
    color:$color-aqua;
}
h1, h2, h3 {
    color: $color-white;
}
h1 {
    font-size:38px;
    line-height: 3.2rem;
    padding:0 0 2rem;
    font-weight: 100;
    span {
        color: $color-aqua;
    }
}
    h2 {
        padding:0 0 2rem;
        line-height: 1.4rem;
        font-size: 18px;
        font-weight: 100;
}
    h3 {
        font-size:38px;
        color:$color-title;
        font-weight: 400;
        padding:0 0 1.2rem;
        line-height: 3rem ;
}


ul {
    list-style-type: none;
    color: $color-title;
    li {
        padding:0.6rem 0;
        display: flex;
        align-items: center;
    }
}

small {
    display: block;
    color:$color-small;
    font-size: 1rem;
    font-weight:700;
    padding:0 0 .4rem;
}
