/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.flex, #services, #products {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ill, #hero .top .container aside, #services aside, #products aside {
  width: 500px;
  height: auto;
}

.logo {
  width: 160px;
  height: auto;
  margin-top: 1.2rem;
}

.li-icons {
  background-position: 0 8px;
  background-size: 30px auto;
  background-repeat: no-repeat;
  height: 36px;
  width: 40px;
  margin-right: 6px;
  display: inline-block;
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
}

.services {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.services h3 {
  padding: 18px;
  line-height: 3rem;
}

section {
  max-width: 1140px;
  margin: 0 auto;
}

.button {
  background-color: #1293D4;
  padding: .8rem;
  text-align: center;
  min-width: 188px;
  border-radius: 8px;
  color: #EFF3FC;
  text-transform: uppercase;
  border: none;
  margin-right: 1rem;
  display: inline-block;
}

.button.second {
  background: #1F448F;
  border: 1px solid #1293D4;
}

.phone {
  color: #88C6E8;
  display: inline-block;
  margin: 0 12px;
  padding: 20px;
  border: 1px solid #3761b5;
}

.phone i {
  padding-right: 8px;
}

.email {
  display: inline-block;
  margin: 0 12px;
  padding: 20px;
  border: 1px solid #3761b5;
}

.email i {
  padding-right: 8px;
}

.email a {
  color: #88C6E8;
  display: inline-block;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.8rem;
  font-size: 18px;
  font-weight: 100;
  color: #B4B4B4;
}

a {
  text-decoration: none;
  color: #88C6E8;
}

h1, h2, h3 {
  color: #ffffff;
}

h1 {
  font-size: 38px;
  line-height: 3.2rem;
  padding: 0 0 2rem;
  font-weight: 100;
}

h1 span {
  color: #88C6E8;
}

h2 {
  padding: 0 0 2rem;
  line-height: 1.4rem;
  font-size: 18px;
  font-weight: 100;
}

h3 {
  font-size: 38px;
  color: #34327B;
  font-weight: 400;
}

ul {
  list-style-type: none;
  color: #34327B;
}

ul li {
  padding: 0.6rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

small {
  color: #1293D4;
  font-size: 1rem;
  font-weight: 700;
}

/* Main sectim css */
body {
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 3.4rem 0 0;
}

nav a {
  color: #88C6E8;
  margin: 0 3.4rem 0 0;
  font-weight: 400;
}

nav a.active {
  color: #ffffff;
  font-weight: 500;
}

section article {
  margin: 4rem 0;
}

section article.grid-4 {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 4rem;
}

section article.grid-4 .service h3 {
  font-size: 1.4rem;
  padding: 1rem 0 2rem;
  font-weight: 400;
}

section article.grid-4 .service h3 img {
  height: 30px;
  vertical-align: bottom;
  margin-right: 8px;
}

section article.grid-4 .service h3 .fa-star {
  color: #1293D4;
  font-size: 1rem;
  padding: 12px;
}

#content {
  position: relative;
}

#hero {
  background: linear-gradient(162deg, #1d80b4d4 0%, #1f448f 40%, #1f448f 100%), url(../images/bg-hero.png);
  max-width: 100%;
}

#hero .top {
  max-width: 1140px;
  margin: 0 auto;
}

#hero .top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#hero .top .container article {
  width: 500px;
  margin-top: 87px;
}

#hero .top .container article .btns {
  padding: 2.4rem 0 0;
}

#hero .top .container aside {
  margin: 100px 0 0;
}

#hero .top .container aside img {
  width: 100%;
  height: auto;
}

#intro article {
  margin: 50px auto;
}

#about .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 80px 0 0;
}

#about .icon-container .icons {
  width: 268px;
  padding: 0 18px 0 0;
}

#about .icon-container .icons img {
  width: 100px;
  height: auto;
  margin-bottom: 12px;
}

#about .icon-container .icons h3 {
  font-size: 20px;
  padding: 18px 0;
}

#about .icon-container .icons p {
  font-size: 16px;
}

#billboard {
  background: #1F448F;
  max-width: 100%;
  padding: 30px 0;
}

#billboard .inner {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

#billboard .inner h3 {
  color: white;
  padding: 16px;
}

#billboard .inner h3 i {
  color: #88C6E8;
  vertical-align: top;
  font-size: 16px;
  padding: 12px;
}

#billboard .inner p {
  font-weight: 400;
}

#services {
  margin-top: 140px;
}

#services aside img {
  width: 100%;
  height: auto;
}

#services article {
  width: 500px;
}

#products {
  margin-top: 100px;
}

#products aside img {
  width: 100%;
  height: auto;
}

#products article {
  width: 500px;
}

footer {
  background-color: #1F448F;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
}

footer .inner {
  width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .address {
  width: 100%;
  padding: 14px 0 12px;
  border-top: 1px solid #3761b5;
  margin-top: 32px;
}

footer .address .inner {
  padding: 0;
}

footer .address p {
  font-size: .8rem;
}

footer .address a {
  color: #B4B4B4;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem;
  }
  .button {
    width: 100%;
    margin: 0 0 1rem;
  }
  .btns {
    display: none;
  }
  ul li {
    line-height: 1.4rem;
  }
  #content {
    width: 100%;
    background-image: url("../images/svg/bg-top-rt.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 240px auto;
    position: relative;
  }
  #content .services {
    width: auto;
  }
  #content .services h3 {
    font-size: 28px;
    line-height: 2.4rem;
  }
  #content aside img {
    width: auto;
  }
  #content header {
    display: block;
    max-width: 100%;
    padding: 0 1rem;
  }
  #content header .logo {
    width: 120px;
  }
  #content header .links {
    display: none;
  }
  #content header .phone {
    position: absolute;
    top: 41px;
    right: 1.2rem;
    margin: 0;
    font-size: .8rem;
  }
  #content header .phone:before {
    margin-bottom: -6px;
  }
  #content section {
    width: 100%;
    max-width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }
  #content section article {
    width: 100%;
    margin: 3rem 0;
    padding: 0 1rem;
    display: block;
  }
  #content section article .service {
    text-align: center;
    margin: 0 0 24px;
    padding: 14px;
  }
  #content section article .service h3 {
    font-size: 1.2rem;
    padding: 8px 0;
  }
  #content aside {
    width: 100%;
    padding: 0 1rem;
    margin: 0;
  }
  #content aside img {
    width: 100%;
  }
  #content #hero .top .container {
    display: block;
  }
  #content #hero .top .container article {
    width: 100%;
    margin: 0;
  }
  #content #hero .top .container aside {
    width: 100%;
    margin: 18px 0;
  }
  #content #about article p.points {
    font-size: 1rem;
  }
  #content #about .icon-container {
    display: block;
    padding: 0 1rem;
    margin: 0;
  }
  #content #about .icon-container .icons {
    width: 100%;
    margin: 4rem 0;
    text-align: center;
  }
  #content #about .services {
    display: block;
  }
  #content #about .services h3 {
    display: block;
  }
  #content #billboard {
    padding: 12px;
  }
  #content #billboard i {
    vertical-align: middle;
    padding: 8px;
  }
  #content #billboard .phone, #content #billboard .email {
    width: 80%;
    margin: 0 0 12px;
  }
  footer {
    background-image: url("../images/svg/bg-footer-lt.svg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 200px auto;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  footer .inner {
    width: 100%;
    display: block;
    text-align: center;
  }
  footer .inner nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  footer .inner nav a {
    padding-bottom: 24px;
    color: #1293D4;
    display: block;
    margin: 0;
  }
  footer .inner nav .phone, footer .inner nav .email {
    margin: 14px;
  }
  footer .inner .logo {
    width: 140px;
    height: auto;
  }
}
